---
alb_url: {{ alb_url }}
asg_sg: {{ asg_sg }}
asg: {{ asg }}
ecr_url: {{ ecr_url }}
ecr_repo_name: {{ ecr_repo_name }}
rds_sg: {{ rds_sg }}
rds_db_host: {{ rds_db_host }}
rds_db_port: {{ rds_db_port }}
rds_db_name: {{ rds_db_name }}
db_query: "-B -e 'SELECT * FROM users;'"
vpc_id: {{ vpc_id }}
subnet1_id: {{ subnet1_id }}
subnet2_id: {{ subnet2_id }}
subnet3_id: {{ subnet3_id }}
ansible_ssh_private_key_file: files/{{ project_name }}.pem
ansible_ssh_user: {{ ec2_sshusername }}
ansible_ssh_port: {{ ec2_sshport }}